@charset "UTF-8";

body { 
	
	background: url(https://i.ytimg.com/vi/TMV7H5N5F-s/maxresdefault.jpg) no-repeat center center fixed; 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;

}

.floating-box {
	display: block;
	border-radius: 20px;
	margin: auto;
	margin-top: 20px;
	width: fit-content;
	height: fit-content;
	padding: 20px;
	background-color: rgba(100, 175, 250, 0.4);
	color: white;
	font: 12px arial, sans-serif;
	text-align: left;
	line-height: 20px;
	letter-spacing: 1px;
	box-shadow: 0px 5px 10px 5px rgba(0, 0, 0, 0.4);
}

/* .input-box { */
/* 	display: inline-block; */
/* 	background-color: white; */
/* 	color: grey; */
/* 	font: 12px arial, sans-serif; */
/* 	width: 80%; */
/* 	height: 20px; */
/* 	margin-bottom: 15px; */
/* 	margin: auto; */
/* 	padding: 3px; */
/* 	outline-style: outset; */
	
/* } */
